@page "/manager-user"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject DBA_UserService DBA_UserService
@inject IJSRuntime iJSRuntime
@inject NavigationManager navigation

<link rel="stylesheet" href="/mahacss/styleaudit.css">
@* <link rel="stylesheet" href="/mahacss/dbauserstyle.css"> *@

<span class="chu-dep">Quản lý người dùng</span>

<button class="nut-dep" @onclick="InvokeCreateUser">Tạo mới người dùng</button>

<div class="container-table-main">
        <div class="tieu-de-table">
            <span>Đây là tiêu đề</span>
        </div>
        <div class="container-table">


            <table class="style-table">
    <thead>
        <tr>
            <th>USERNAME</th>
            <th>ACCOUNT STATUS</th>
            <th>LOCK DATE</th>
@*             <th>EXPIRY DATE</th>
            <th>CREATED</th> *@
            <th>PROFILE</th>
            <th>LAST LOGIN</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @if (users != null)
        {
            foreach (DBA_User user in users)
            {
                <tr>
                    <td>@user.USERNAME</td>
                    <td>@user.ACCOUNT_STATUS</td>
                    <td>@user.LOCK_DATE</td>
                    @* <td>@user.EXPIRY_DATE</td>
                    <td>@user.CREATED</td> *@
                    <td>@user.PROFILE</td>
                    <td>@user.LAST_LOGIN</td>
                    <td>
                        <button class="nut-do-bang" @onclick="@(()=>LockAccount(user.USERNAME))">Khóa</button>
                            <button class="nut-xanh-bang" @onclick="@(()=>UnLockAccount(user.USERNAME))">Mở</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="active-row">
                <td colspan="7">Không có dữ liệu hiển thị</td>
            </tr>
        }
        <!-- Thêm các hàng dữ liệu khác tại đây -->
    </tbody>
</table>
</div>
</div>

@code {
    List<DBA_User> users = new List<DBA_User>();

    protected override async Task OnInitializedAsync()
    {
        users = await DBA_UserService.GetAllDataUser();
    }

    private async Task LockAccount(string userName)
    {
        if(await DBA_UserService.LockAccount(userName))
        {
            await iJSRuntime.InvokeVoidAsync("alert", "Khóa tài khoản thành công!");
            users = await DBA_UserService.GetAllDataUser();
            StateHasChanged(); //Kết xuất lại
        }
        else
        {
            await iJSRuntime.InvokeVoidAsync("alert", "Không thể khóa tài khoản này!");
        }
    }

    private async Task UnLockAccount(string userName)
    {
        if (await DBA_UserService.UnlockAccount(userName))
        {
            await iJSRuntime.InvokeVoidAsync("alert", "Mở khóa tài khoản thành công!");
            users = await DBA_UserService.GetAllDataUser();
            StateHasChanged(); //Kết xuất lại
        }
        else
        {
            await iJSRuntime.InvokeVoidAsync("alert", "Không thể mở khóa tài khoản này!");
        }
    }

    private void InvokeCreateUser()
    {
        navigation.NavigateTo("create-user");
    }
}
